<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h3>ADD USER</h3>
<form action="#"
      th:action="@{/admin/adduser}"
      th:object="${user}"
      method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name"/><br>

    <label >Lastname</label>
    <input type="text" th:field="*{lastName}" ><br>

    <label >Password</label>
    <input type="text" th:field="*{password}" ><br>

    <label >Email</label>
    <input type="text" th:field="*{email}" placeholder="Email"><br>

    <input type="submit" value="Add User">
</form>
<br>
<br>
<a href="/logout">Logout</a>
</body>
</html>