<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/admin/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name" placeholder="Name">
    <br>

    <label for="name">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastname" placeholder="Lastname">

    <label >Password</label>
    <input type="text" th:field="*{password}" ><br>

    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">

    <br>
    <input type="submit" value="Update User">
</form>
    <br>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>